* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.row {
  display: flex;
}
.column-2 {
  flex: 50%;
}
.column-1 {
  flex: 100%;
}
/* header  css */
.header {
  padding: 14px;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}
.header .link {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  color: #000000;
  text-decoration: none;
}
.header .left-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .right-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}
.header .right-nav .register-button {
  padding: 14px 56px;
  border-radius: 50px;
  border: 1px solid #000000;
  background-color: #ffffff;
  margin-right: 15px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
}
.header .right-nav .login-button {
  padding: 14px 56px;
  border-radius: 50px;
  border: 1px solid #000000;
  background-color: #ffffff;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
}
/* heading section css */
.heading-section {
  text-align: center;
}
.heading-section .inner-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-section .title {
  font-family: "Inter", sans-serif;
  font-size: 78.22px;
  font-weight: 500;
  line-height: 94.66px;
  color: #022b47;
  margin-left: 10px;
}
.heading-section .responsive-image {
  width: 100%;
  height: auto;
  max-width: 120px;
}
/*  section2 css */
.section-2 {
  margin-top: 20px;
}
.section-2 .left-section {
  background-color: #014b7f;
  min-height: 479px;
  height: 100%;
  padding: 0 20px;
}
.section-2 .left-section .vertical-stars {
  display: flex;
  justify-content: flex-end;
}
.section-2 .left-section .horizontal-stars {
  display: flex;
  justify-content: flex-start;
}
.section-2 .left-section .heading-text {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 53.6px;
  color: #ffffff;
}
.section-2 .left-section .find-talent {
  height: 67px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  margin: 20px 0;
}
.section-2 .left-section .sub-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.89px;
  color: #ffffff;
}
.section-2 .right-section {
  background-color: #e5f3f7;
  padding: 20px;
  position: relative;
}
.section-2 .right-section .text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.89px;
  max-width: 340px;
  display: inline-block;
}
.section-2 .right-section .circle-logo {
  position: absolute;
  top: -100px;
}
/*  section-3 css */
.section-3 {
  margin: 50px 0;
}
.section-3 .get-started-button {
  background-color: #014b7f;
  color: #ffffff;
  padding: 10px;
  border: 1px solid #014b7f;
  border-radius: 50px;
  width: 200px;
  height: 67px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin-left: 20px;
}
.section-3 .get-started-section {
  display: flex;
  align-items: center;
}
/*  section-4 css */
.section-4 .left-section .heading-div {
  display: flex;
  position: relative;
}
.section-4 .left-section .heading {
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
  color: #014b7f;
}
.section-4 .left-section .bend-arrow {
  position: absolute;
  top: 15px;
  left: -30px;
}
.section-4 .left-section .text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.89px;
}
.section-4 .left-section .blue-stars {
  display: flex;
  justify-content: flex-end;
}
.section-4 .right-section {
}
